<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<nav>
  <span class="title">App Name</span>
  <div class="middle-header">
    <%= form_for :tournament, url: "/tournaments", method: :get do |f| %>
      <div>Search for:</div>
      <%= f.text_field :search, class: "search-bar" %>
      <%= f.select :game, options_for_select(["League of Legends", "Super Smash Bros Ultimate"]), include_blank: "-Select-" %>
      <%= f.submit <%= "fas fa-search search-icon" %> %>
    <% end %>  
  </div>
  <div class="right-side-header">
    <% if current_user %>
    <li>
      <%= link_to '/logout' do %>
        <%= fa_icon "sign-out" %>
        Log Out
      <% end %>
    </li>
    <% else %>
    <li>
      <%= link_to '/signup' do %>
        <%= fa_icon "sign-in" %>
        Sign Up
      <% end %>
    </li>
    <li>
      <%= link_to '/login' do %>
        <%= fa_icon "sign-in" %>
        Login
      <% end %>
    </li>
  <% end %>
  </div>
</nav>