<!DOCTYPE html>
<html>
<head>
  <title>matchmaker.gg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>

<%= render 'layouts/top_nav' %>
  <% if flash[:info]%>
    <%= render 'layouts/notice'%>
  <% end%>
  <% if flash[:error]%>
    <%= render 'layouts/alert'%>
  <% end%>
<%= yield %>

</body>
</html>
