<!DOCTYPE html>
<html>
<head>
  <title>WorkingTitle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <link rel="stylesheet" href="https://toert.github.io/Isolated-Bootstrap/versions/4.0.0-beta/iso_bootstrap4.0.0min.css">
</head>
<body>

<%= render 'layouts/top_nav' %>

<%= yield %>

</body>
</html>
