<div class="tournament-container">

<article class="tournament-create">
  <h1>Create a tournament:</h1>
  
<div class="tournament-form">
  <%= form_for @tournament do |f| %>
    <div class="input-field">
    <%= f.label :name, class: "label" %><%= f.text_field :name, placeholder: 'Enter a name', required: true %>
    </div>
    <div class="input-field">
    <%= f.label :game, class: "label" %><%= f.select :game, options_for_select(["League of Legends", "Super Smash Bros Ultimate"]), include_blank: "-Select-", required: true %>
    </div>
    <div class="input-field">
    <%= f.label :description, class: "label"  %><%= f.text_area :description, placeholder: 'Enter a description', class: "description", required: true %>
    </div>
    <div class="input-field">
    <%= f.label :skill, class: "label"  %><%= f.select :skill, options_for_select(["Low", "Intermediate", "Advanced"]), include_blank: "-Select-", required: true %>
    </div>
    <div class="input-field">
    <%= f.label :region, class: "label"  %><%= f.select :region, options_for_select(["NA", "EUW", "EUNE", "KR", "BR", "OCE"]), include_blank: "-Select-", required: true %>
    </div>
    <div class="input-field">
    <%= f.label :date, class: "label"  %><%= f.date_field :date, value: '%y-%m-%d', required: true %>
    </div>
    <div class="input-field">
    <%= f.label :time, class: "label"  %><%= f.time_field :time, value: '%H:%M', required: true %>
    </div>
    <div class="create-button">
    <%= f.submit "Create", class: "btn" %>
    </div>
  <% end %>
</div>
</article>

</div>