<section class="tournament-show">
<div class="tournament-show-container">
  <div class="tournament-header">
    <h1 style="color:#ffffff;"><%= @tournament.name %></h1>
    <h2 style="color:#ffffff;">Organized by: <%= @organizer&.username %></h2>
    <div class="info-and-button">
      <div class="misc-header-info">
      <p><i class="fas fa-calendar-week icon"></i><%= @tournament.date %></p>
      <p><i class="fas fa-clock icon"></i><%= @tournament.time %></p>
      <p><i class="fas fa-medal icon"></i>Skill Level: <%= @tournament.skill %></p>
      <p><i class="fas fa-globe-americas icon"></i>Region: <%= @tournament.region %></p>
      </div>
      <% if current_user && !Entrant.exists?(tournament_id: @tournament.id, user_id: current_user.id) && @user_entrants.length < 8 %>
        <%= button_to 'Join Tournament', join_tournament_path({tournament_id: @tournament.id, user_id: current_user.id}), method: :post, class: "join-btn" %>
      <% elsif @user_entrants.length == 8 %>
        <button class="closed-btn" type="button" disabled>Registration Closed</button>
      <% elsif current_user && Entrant.exists?(tournament_id: @tournament.id, user_id: current_user.id) && @user_entrants.length < 8 %>
      <% else %>
        <%= link_to '/login', class: "join-btn" do %>Login to Join<% end %>
      <% end %>
      <% if current_user && Entrant.exists?(tournament_id: @tournament.id, user_id: current_user.id) %>
        <%= button_to 'Leave Tournament', leave_tournament_path({tournament_id: @tournament.id, user_id: current_user.id}), method: :delete, class: "leave-btn" %>
      <% end %>
      
      </div>
      <div class="image-description">
        <% if @tournament.game == "League of Legends" %>
        <%= image_tag ("lol.png"), class: "tournament-img" %>
        <% elsif @tournament.game == "Super Smash Bros Ultimate" %>
        <%= image_tag ("smash.png"), class: "tournament-img" %>
        <% end %>
          <div class="description">
          <h2 style="color:#ffffff;">Description: </h2>
          <p>
            <%= @tournament.description %>
          </p>
      </div>
    </div>
    </div>
    <div class="entrants">
    <h4 style="color:#ffffff;">Entrants</h4>
      <ul>
        <% if !@user_entrants.empty? %>
          <% @user_entrants.each do |entrant| %>
            <li>
              <%= entrant.username  %>
            </li>
          <% end %>
        <% end %>          
      </ul>
    </div>
    <%= render 'ladder', starting_seeds: @randomize_entrants %>
    </div>



</section>