<section class="tournaments-show">

  <header class="page-header">
    <h1><%= link_to @tournament.name %> &raquo; <%= @tournament.name %></h1>
  </header>

  <article class="tournament-detail">
    <div class="row">
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @tournament.name %></dd>
          <dt>Game</dt>
          <dd><%= @tournament.game %></dd>
        </dl>
      </div>
    </div>
  </article>

  <%= render 'ladder' %>

</section>