<div class="container">
  
  <div class="profile-card">
  <img src ="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png" class="picture">
  <h1 class="heading"><%= current_user.username %>
  
 
  </h1>
  <div class="card-content">
  Name: <br>
  <%= current_user.first_name %> <%= current_user.last_name %> 
  <br>
  Date Joined: <br>
  <%= current_user.created_at.strftime("%d/%m/%Y") %>
  <br>
  Events Hosted: 
  <%= @amount_created %>
  <br>
  Events Attended: 
  <%= @amount_attended %>
  </div>
  </div>

  

    
<% if !@event_organized.empty? %>
<table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Game</th>
          <th scope="col">Date</th>
          <th scope="col">Skill</th>
          <th scope="col">Region</th>
        </tr>
      </thead>
      <tbody>
        <% @event_organized.each do |t|%>
          <tr>
            <td><%= t.name %></td>
            <td><%= t.game %></td>
            <td><%= t.date %></td>
            <td><%= t.skill %></td>
            <td><%= t.region %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<br>

<div class="tournament-history">
<% if !@event_attended.empty? %>
<table class="table">
      <thead>
        <tr class="table-headings">
          <th scope="col">Name</th>
          <th scope="col">Game</th>
          <th scope="col">Date</th>
          <th scope="col">Skill</th>
          <th scope="col">Region</th>
        </tr>
      </thead>
      <tbody>
        <% @event_attended.each do |a|%>
          <tr class="table-content">
            <td><%= a.name %></td>
            <td><%= a.game %></td>
            <td><%= a.date %></td>
            <td><%= a.skill %></td>
            <td><%= a.region %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
    </div>


</div>