<h1> Edit Brackets </h1>

<%= form_with model: @match, local: true do |f| %>
  <%= f.text_field :match1 %>
  <%= f.text_field :match2 %>
  <%= f.text_field :match3 %>
  <%= f.text_field :match4 %>
  <%= f.text_field :match5 %>
  <%= f.text_field :match6 %>
  <%= f.text_field :match7 %>
  <%= f.submit %>
<% end %>