<div class="flex-container">
<div class="form-style">
<%= form_with model: @match, local: true do |f| %>
<h1 style="color:#ffffff;">Update Winners: </h1>
<label for="field1"><span>Semi-Final 1:</span><%= f.text_field :match1 %></label>
<label for="field2"><span>Semi-Final 1:</span><%= f.text_field :match2 %></label>
<label for="field3"><span>Semi-Final 2:</span><%= f.text_field :match3 %></label>
<label for="field4"><span>Semi-Final 2:</span><%= f.text_field :match4 %></label>
<label for="field5"><span>Final: </span><%= f.text_field :match5 %></label>
<label for="field6"><span>Final: </span><%= f.text_field :match6 %></label>
<label><span> </span><%= f.submit %></label>
<% end %>

</form>
</div>
</div>